<p>Padaryta ne visai tiksliai pagal užduotį, nes manau, kad taip yra patogiau ir gražiau!</p>
<p>Mano pastabos:</p>
<ul>
  <li>Jeigu karvių sąrašas didesnis, jį tikrai patogiau matyti lentelėje (table).</li>
  <li>Nesinori į vieną puslapį visko suplakti (table'o, formos naujai karvei ir komponentų su savo formom redagavimui).</li>
  <li>Paspaudus update mygtuką arbą linką (karvės vardas) pakliūname į atskirą formą redagavimui.</li>
  <li>Paspaudus "Add" nuorodą headeryje pakliūname į tuščią "kūrimo" formą.</li>
  <li>Kadangi šios abi formos labai paprastos ir trumpos, išsiverčiau su vienu komponentu (CowComponent).</li>
</ul>
